name: Linting

on:
  pull_request:
    branches:
       - develop
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1

      matrix:
        python-version: ['3.8','3.9', '3.10']

    name: Python ${{ matrix.python-version }} Test Pop

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools setuptools_scm wheel
          pip install numpy
          pip install pydocstyle
          pip install black
          pip install flake8
          pip install isort
          pip install -e .
          pip install -e .[tests]

      - name: sort imports
        run:  |
          isort . --atomic --profile black

      - name: check docstrings
        run:  |
          pydocstyle --version
          pydocstyle -e --count --convention=google
      - name: black
        run:  |
          black --version
          black  --line-length 88 --color pytaser
          black  --line-length 88 --check --diff --color pytaser

      - name: flake8
        run:  |
          flake8 --version
          flake8 --max-line-length 107 --color always